body{
    background-position: center;
    background-size: cover;
    background-color: rgb(208, 201, 201)
}
    .six h1 {
        text-align: center;
        color:#222; font-size:30px; font-weight:400;
        text-transform: uppercase;
        word-spacing: 1px; letter-spacing:2px; color:#a30b0b;
      }
      .six h1 span {
        line-height:2em; padding-bottom:15px;
        text-transform: none;
        font-size:.7em;
        font-weight: normal;
        font-style: italic; font-family: "Playfair Display","Bookman",serif;
        color:#2c2a2a; letter-spacing:-0.005em; word-spacing:1px;
        letter-spacing:none;
      }
      .six h1:after, .six h1:before {
        position: absolute;
        left: 0;
        top: 0;
        width: 45px;
        height: 4px;
        content: "";
        right: 45px; 
        margin:auto;
        background-color: #671919;
      }
      .six h1:before { 
      background-color:#e62222;
        left:45px; width:90px;
      }
    .ul2 {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
      }
      
      li {
        float:left
        
      }
      
      li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 16px;
        text-decoration: none;
      }
      
      /* Change the link color to #111 (black) on hover */
      li a:hover {
        background-color: #111;
      }
      .common{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; position:absolute 
      }
      .top{
        top: 220px;
        left: 50px;
        right: 0px;
      }
    .middle{
        top: 1200px;
        left: 0px;
        right: 0px;
        font-size: larger;font-weight: bold;
        text-align: center;
    }
    .bottom{
        text-align: center;
        position: fixed;
        bottom: 0px;
        left: 0px;
        right: 0px;
        font-weight: bold;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        font-style: italic;
        background-color: rgb(181, 221, 221);
        z-index: 1;


    }
    .imgage{
        max-width: 75%;
    }